name: Springbootproject

on:
  push:
    branches: [ "main" ]


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
      
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        name: springboot-1
        path: target/*.jar
        
  verify:

    runs-on: ubuntu-latest
    needs: build
  
    steps:
    - name: Diwnload artifact
      uses: actions/download-artifact@v5.0.0
      with: 
       name: springboot-1
       path: ./artifact
    - name: list
      run: ls ./artifact
